.overview-4-card {
    flex: 0.5;
}

.card-line {
    display: flex;
}

.card-item {
    height: 92px;
    flex: 0.5;
    display: flex;
    background-color: white;
    box-shadow: 0px 12px 26px rgba(90, 100, 120, 0.07);
    border-radius: 8px;
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 500;
    color: #19243B;
    padding-left: 26px;
    /* padding-top: 14px; */
    justify-content: flex-start;
    align-items: center;
}

.card-icon-bg {
    width: 52px;
    height: 52px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}

.card-icon-img {
    width: 32px;
    height: 32px;
}

.card-title {
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #5A6478;
}

.card-num {
    font-size: 24px;
}

.custom-chart-item {
    background: #FFFFFF;
    box-shadow: 0px 6px 13px rgba(90, 100, 120, 0.07);
    border-radius: 8px;
}